@model IEnumerable<Team15_FinalProject.Models.Payee>

@{
    ViewBag.Title = "Index";
}

<h2>Pay Bills</h2>

<p>
    @Html.ActionLink("Add Payee", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StreeAddress)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Zip)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Phone)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink(item.Name, "Details", new { id = item.PayeeID })
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StreeAddress)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.City)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.State)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Zip)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Phone)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.PayeeID })
        </td>
    </tr>
}

</table>

<script>
    if ('@TempData["Success"]' == true)
    {
        alert("Payee has been created");
        // handle refreshing the view, or redirect to another View (window.location.href = "")
    }
</script>
